    h1 {
      font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 60px;
        color: black;
        text-decoration: underline;
      }
      
        h2 {
      font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 30px;
        color: black;
      }
      
      h3 {
            font-family: 'Oswald', sans-serif;
        text-align: center;
        font-size: 25px;
        color: black;
      }
      
      body {
        background-color: lightcyan;
        color: black;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
    border-image: dotted;
    margin-right:200px;
    margin-left:200px;
      }
      
       a:link {
        text-decoration: bold;
        color: sandybrown;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
      }
      img {
        border: 7px ridge white;
      }
      
      a:hover {
          color:maroon;
      }
      }
      /* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-4/nat334.cur), progress !important;} /* End http://www.cursors-4u.com */
